#projects {
    background-color: #358696;
}
  
#projects h2 {
    color:whitesmoke;
}

#projects p{
    color:rgb(211, 255, 254);
}

#projects p b{
    color: whitesmoke;
}
#projects #projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 600px));
}