#Projects {
    background-color: #358696;
}
  
#Projects h2 {
    color:whitesmoke;
}

#Projects p{
    color:rgb(211, 255, 254);
}

#Projects p b{
    color: whitesmoke;
}
#Projects #projects-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 600px));
}