.project{
    display:flex;
    background-color: rgb(70, 144, 159);
    border:1px solid rgb(79, 158, 174);
    padding:45px;
}
.project .project-icon{
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}
.project .project-icon img {
    display: block;
    background-color: white;
    border-radius: 100px;
    padding: 5px;
}
.project .content{
    display: flex;
    padding-top: 7px;
    flex-direction: column;
    width:100%;
    height: auto;
}
.project .content p{
    margin-bottom: 35px;
}
.project .content h4{
    color: whitesmoke;
}
.project .content .button-group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}
.project .content .button-group .project-button{
    background: whitesmoke;
    text-align: center;
    color: rgb(53, 134, 150);
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    width: fit-content;
    border-radius: 50px;
    font-size: 12px;
}