/* Reset and basic styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Navigation Bar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}

.navbar ul li {
  margin: 0 1rem;
}

.navbar ul li a {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar ul li a.active {
  background-color: #007BFF;
  color: white;
}

/* Section Styling */
.section {
  padding: 5%;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.50;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------- SECTION 1 -------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------- */
#section1 {
  background-image: url("assets/Welcome-Background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-basis: content;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
#section1 #introduction #text h1{
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  
  font-size: 2.0rem;
  color:rgb(249, 255, 255);
}
#section1 #introduction #text p{
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color:rgb(211, 255, 254);
  
  font-size: 1.40rem;
  flex:1;
}
#section1 #introduction #text p strong{
  color:rgb(249, 255, 255);
}
#section1 #introduction #social-links{
  display: flex;
  gap: 3%;
}

#section1 #introduction #learn-more-btn{
  display: flex;
  padding-top:3%;
}
#section1 #introduction #learn-more-btn #learn-more{
  padding: 15px 30px;
  font-weight: bold;
  color: rgb(249, 255, 255);
  background-color: transparent;
  border: 2px solid rgb(211, 255, 254);
  border-radius: 30px;
}

#section1 #portrait img{
  border-radius: 5%;
  width: 300px;
  height:auto;
  margin-top: 15%;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------- SECTION 1 -------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------- SECTION 2 -------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------- */

#section2 {
  background-color: rgb(58, 168, 124);
}
#section2 h2 {
  margin: 0;
  color:whitesmoke;
}
#section2 .education {
  color: rgb(211, 255, 254);
  margin-top: 3%;
}
#section2 #FIU {
  margin-top: 1.5%;
}
#section2 .education h4{
  margin: 0;
  color:whitesmoke;
}
#section2 .education p{
  margin-top: 0.5%;
  
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------- SECTION 2 -------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------- SECTION 3 -------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------- */
#section3 {
  background-color: #3a9d6f;
}
#section3 h2 {
  margin: 0;
  color:whitesmoke;
}

#section3 .skills p{
  color: rgb(211, 255, 254);
}
#section3 .skills p b{
  color: whitesmoke;
}

#section3 .skills p i{
  color: rgb(165, 206, 204);
}
/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------- SECTION 3 -------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------- SECTION 4 -------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------- */
#section4 {
  background-color: #318680;
  color:rgb(211, 255, 254);
  font-size: 1rem;
}

#section4 h2 {
  margin: 0;
  color:whitesmoke;
}

#section4 .experience {
  margin:0;
  margin-top: 5%;
  padding:0;
  margin-bottom: 2;
}
#section4 .experience h4{
  margin:0;
  color: whitesmoke;
}

#section4 .experience p{
  margin:0;
  color: rgb(211, 255, 254);
}

#section4 .experience p b{
  margin: 0;
  color: whitesmoke;
}
#section4 .experience ul{
  list-style-type: disc;
  margin-top: 3%;
  margin-left: 5%;
  color: whitesmoke;
}
#section4 .experience ul li {
  margin-bottom: 1%;
  
}
/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------- SECTION 4 -------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------- */

#section5 {
  background-color: #358696;
}

#section5 h2 {
  margin: 0;
  color:whitesmoke;
}

#section5 p{
  color:rgb(211, 255, 254);
  
}
#section5 p b{
  color: whitesmoke;
  
}
#section5 #projects-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* border: 2px solid red; */
}
#section5 #projects-container .project{
  margin:0;
  padding: 0;
  display:flex;
  background-color: rgb(70, 144, 159);
  border:1px solid rgb(79, 158, 174);
  padding:45px;
}

#section5 #projects-container .project .project-icon{
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-right: 30px;
}

#section5 #projects-container .project .project-icon img {
  display: block;
  background-color: white;
  border-radius: 100px;
  padding: 5px;
}

#section5 #projects-container .project .content{
  display: flex;
  margin:0;
  padding: 0;
  padding-top: 7px;
  flex-direction: column;
  width:100%;
  height: auto;
}

#section5 #projects-container .project .content p{
  margin:0;
  margin-bottom: 35px;
}

#section5 #projects-container .project .content h4{
  margin-top: 0;
  color: whitesmoke;
}
#section5 #projects-container .project .content .button-group{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
#section5 #projects-container .project .content .button-group .project-button{
  background: whitesmoke;
  text-align: center;
  color: rgb(53, 134, 150);
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  width: fit-content;
  border-radius: 50px;
  font-size: 12px;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------- SECTION 6 -------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------- */

#section6 {
  background-color: rgb(23, 76, 116);
  color:rgb(211, 255, 254);
  font-size: 1rem;
}
#section6 h2 {
  margin: 0;
  padding: 0;
  color:whitesmoke;
}
/* #section6 p{
  
} */
#section6 .development{
  margin:0;
  padding:0;
  margin-bottom: 2%;
}
#section6 .development h4{
  margin:0;
  margin-top:5%;
  color:whitesmoke;
}
#section6 .development p{
  margin:0;
  padding:0;
}
#section6 .development ul{
  margin-left: 5%;
  list-style-type: disc;
}
#section6 .development ul li{
  margin-bottom: 1%;
  
}
#section6 .development ul li ul{
  list-style-type: disc;
  margin-left:5%;
}
/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------- SECTION 6 -------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------- SECTION 6 -------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------- */

#section7 {
  background-color: rgb(11, 51, 124);
  color: rgb(211, 255, 254);
  font-size: 0.8rem;
  margin:0;
  padding:5%;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------- SECTION 6 -------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------- MEDIA FNs -------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* Media query for smaller screens */
@media (max-width: 768px) {
  #section1{
    flex-direction: column; /* Stack elements vertically */
    text-align: center; /* Center text when stacked */
  }

  #section1 #portrait img {
    width: 100%; /* Image takes full width when stacked */
    max-width: 300px; /* Optional: max width to avoid too large images */
    margin-top: 20px; /* Add some space between text and image */
  }
  #section1 #introduction #learn-more-btn{
    padding-top:5%;
  }
  #section6 .development ul{
    margin-top: 3%;
  }
  #section6 .development p{
  margin:0;
  margin-top: 0.5%;
  padding:0;
  }
}