#About {
    background-image: url("/src/assets/Welcome-Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-basis: content;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
#About #introduction #text h1{
    font-family: 'Helvetica Neue', Helvetica, sans-serif;

    font-size: 2.0rem;
    color:rgb(249, 255, 255);
}
#About #introduction #text p{
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color:rgb(211, 255, 254);

    font-size: 1.40rem;
    flex:1;
}
#About #introduction #text p strong{
    color:rgb(249, 255, 255);   
}
#About #introduction #social-links{
    display: flex;
    gap: 3%;
}

#About #introduction #learn-more-btn{
    display: flex;
    padding-top:3%;
}
#About #introduction #learn-more-btn #learn-more{
    padding: 15px 30px;
    font-weight: bold;
    color: rgb(249, 255, 255);
    background-color: transparent;
    border: 2px solid rgb(211, 255, 254);
    border-radius: 30px;
}

#About #portrait img{
    border-radius: 5%;
    width: 300px;
    height:auto;
    margin-top: 15%;
}

@media (max-width:768px){
    #About{
        flex-direction: column; /* Stack elements vertically */
        text-align: center; /* Center text when stacked */
    }

    #About #portrait img {
        width: 100%; /* Image takes full width when stacked */
        max-width: 300px; /* Optional: max width to avoid too large images */
        margin-top: 20px; /* Add some space between text and image */
    }
    #About #introduction #learn-more-btn{
        padding-top:5%;
    }
}